<template>
<div>
<input type="hidden" id="user_id" name="user_id" v-bind:value="selected_user_id" class="form-control">
    <input type="text" id="user_name" placeholder="Buscar usuario.." v-model="query" v-on:keyup="autoComplete" class="form-control">
    <div class="panel-users-footer" v-if="results.length">
    <ul class="list-group">
    <li class="list-group-item" v-for="result in results" v-on:click="selectedItem(result.id, result.name)">
    <span :class="result.moroso == 1 ? 'text-danger' : ''">{{ result.name }}</span> <span class="text-danger small">{{ result.moroso == 1 ? '* moroso' : '' }}</span>
</li>
</ul>
</div>
</div>
</template>
<script>
export default{
    data(){
        return {
            query: '',
            selected_user_id: '',
            selected_user_name: '',
            results: []
        }
    },
    methods: {
        autoComplete(){
            this.results = [];
            if(this.query.length > 2){
                axios.get('/api/user/search',{params: {query: this.query}}).then(response => {
                    this.results = response.data;
            });
            }
        },

        selectedItem(id, name){
            this.selected_user_id = id;
            this.query = name;
            this.results = [];
        }

    }
}
</script>