@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');

body {
	font-family: 'Roboto', Arial, sans-serif;
}

.d-none {
	display: none !important;
}

.exportar{
	border-radius: 0;
}

.btn.btn-primary {
    color: #fff;
    background-color: #008E69;
    border-color: #008E69;
}

.navbar-default {
	background-color: #008E69;
	padding: 10px 0;
	border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #dbefdc;
}
.panel-default {
	border-color: #d3e0e9;
	padding: 15px;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	margin-bottom: 10px;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	background-color: #008E69;
	padding: 5px 15px;
	color: white;
	border-radius: 30px;
	border: none;
}
.btn-default {
	margin-bottom: 10px;
}
table {
	background-color: #fff;
	border: 1px solid transparent;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.active {
	margin-bottom: 20px;
	font-weight: bold;
	align-items: center;
}

.panel-default.panel-incidente-messages time {
	color: grey;
	font-size: 11px;
	display: block;
}

.panel-heading.panel-messages {
	background: #333;
    color: #fff;
    border-radius: 0;
}

.panel-heading.panel-right {
    text-align: right;
}

.panel-heading.panel-single-message {
    border-bottom: none;
}

.panel-heading.panel-single-message.panel-different-user {
	border-top: solid 1px #d3e0e9;
}

.scrollable-messages-container {
    max-height: 500px;
    overflow: scroll;
}

.remaining-characters {
	text-align: right;
}

.polls-container .polls-header {
	text-align: center;
	padding: 20px 0; }
  
  .polls-container .history-header {
	background: #f2f2f2;
	padding: 15px;
	font-size: 12px;
	font-weight: 600;
	color: grey; }
  
  .polls-container .polls-list-container .single-poll-container {
	border-bottom: solid 1px #f3f3f3;
	padding: 0 10px; }
	.polls-container .polls-list-container .single-poll-container .poll-main-details {
	  position: relative;
	  padding: 5px 0; }
	  .polls-container .polls-list-container .single-poll-container .poll-main-details span.point-unread {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #37b34a;
		float: left;
		margin-right: 5px;
		margin-top: 5px; }
	  .polls-container .polls-list-container .single-poll-container .poll-main-details .poll-concept {
		max-width: calc(100% - 60px);
		font-size: 15px;
		line-height: 17px;
		color: #333;
		font-weight: 600; }
	  .polls-container .polls-list-container .single-poll-container .poll-main-details .poll-message {
		max-width: calc(100% - 60px);
		margin: 2px 0;
		font-size: 13px;
		line-height: 15px;
		color: #5c5c5c; }
	  .polls-container .polls-list-container .single-poll-container .poll-main-details .poll-date {
		display: block;
		margin-top: 5px;
		font-size: 12px;
		line-height: 13px;
		color: #9b9b9b; }
	  .polls-container .polls-list-container .single-poll-container .poll-main-details .poll-link {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -30px;
		color: #37b34a;
		font-weight: bold;
		padding: 20px; }
	.polls-container .polls-list-container .single-poll-container.answered .poll-concept {
	  color: #5c5c5c;
	  font-weight: 400; }
  
  .poll-container {
	padding: 20px;
	max-width: 400px;
	margin: 0 auto; }
	.poll-container .poll-header img {
	  display: block;
	  margin: 0 auto;
	  max-width: 100px; }
	.poll-container .poll-header h2 {
	  color: #38b34a;
	  font-size: 20px;
	  margin-bottom: 30px; }
	.poll-container .poll-options .list .item-checkbox {
	  border-right: 0;
	  border-left: 0; }
	  .poll-container .poll-options .list .item-checkbox:first-child {
		border-top: 0; }
	.poll-container .poll-options .list .checkbox input:checked:before, .poll-container .poll-options .list .checkbox input:checked + .checkbox-icon:before {
	  background: #38b34a;
	  border-color: #38b34a; }
	.poll-container .button-vote {
	  background: #41b350;
	  border-radius: 60px;
	  color: #fff;
	  text-transform: capitalize;
	  padding: 0 8px;
	  min-width: initial;
	  margin-top: 15px;
	  min-height: 50px;
	  font-weight: 400;
	  font-size: 16px;
	  line-height: 26px; }
	.poll-container .poll-options.options-answered .poll-option {
	  padding: 10px 0;
	  display: flex;
	  align-items: flex-end; }
	  .poll-container .poll-options.options-answered .poll-option > div {
		display: inline-block; }
		.poll-container .poll-options.options-answered .poll-option > div.poll-option-details {
		  width: calc(100% - 65px); }
		.poll-container .poll-options.options-answered .poll-option > div.poll-option-number {
		  font-size: 20px;
		  font-weight: bold;
		  color: #37b34a;
		  width: 60px;
		  text-align: center; }
	  .poll-container .poll-options.options-answered .poll-option .poll-answer {
		font-size: 17px;
		color: #333;
		font-weight: 600; }
		.poll-container .poll-options.options-answered .poll-option .poll-answer.user-answered {
		  color: #37b34a; }
	  .poll-container .poll-options.options-answered .poll-option .poll-bar {
		position: relative;
		height: 12px;
		margin-top: 8px;
		width: 100%;
		background: #f2f2f2; }
		.poll-container .poll-options.options-answered .poll-option .poll-bar .poll-bar-inside {
		  width: 0;
		  height: 12px;
		  background: #37b34a;
		  animation: AnimWidth 1s ease;
		  -webkit-animation: AnimWidth 1s ease; }
  
  @-webkit-keyframes AnimWidth {
	from {
	  width: 0px; } }
  
  @-moz-keyframes AnimWidth {
	from {
	  width: 0px; } }
  
  @-o-keyframes AnimWidth {
	from {
	  width: 0px; } }
  
  @keyframes AnimWidth {
	from {
	  width: 0px; } }
	
	button.delete {
			background: #fe0000;
			padding: 2px 5px;
			font-size: 12px;
			border-radius: 0;
			display: block;
			margin: 0;
			margin-top: 15px;
	}


.form-encuesta {

}

.form-encuesta .form-control,
.form-encuesta .btn-default {
		margin-top: 0;
		margin-bottom: 0;
}

.form-encuesta .btn-group button {
	background: #fff;
	border-color: #008E69;
	color: #008E69;
	outline: none !important;
}

.form-encuesta .btn-group button.active {
	background: #008E69;
	color: #fff;
	box-shadow: none;
	margin-bottom: 0;
}

.total-votes {
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
}

.bg-costa {
	background: #008E69;
}
.text-white {
	color: #fff;
}
.text-costa {
	color: #008E69 !important;
}
.text-bold {
    font-weight: bold;
}
.m-0 {
	margin: 0 !important;
}
.margin-top {
    margin-top: 15px;
}
.d-inline {
	display: inline-block !important;
}
.padding-sides {
	padding: 0 15px;
}

.padding-vertical {
	padding: 10px 0;
}

.costa-table .scrollable-div {
	display: block;
	max-height: 300px;
	overflow-y: scroll;
}

.costa-table .costa-table__header,
.costa-table .costa-table__row {
	padding: 5px;
}

.costa-table .costa-table__row {
	border-bottom: solid 1px #dddcdc;
}

input#user_name {
    margin-bottom: 0;
}

.panel-users-footer {
    position: absolute;
    max-height: 300px;
    display: block;
    overflow: scroll;
    background: #527035;
    padding: 2px;
	border-bottom: solid 2px #527035;
	z-index: 999;
}

.panel-users-footer .list-group-item {
	border-radius: 0 !important;
}

.fa-spin {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
  }
  .fa-pulse {
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8);
  }
  @-webkit-keyframes fa-spin {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
  }
  @keyframes fa-spin {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
  }


.btn-print {
	background: #a10203;
}

.btn-validate {
	border-radius: 0;
    font-size: 12px;
    padding: 2px 10px;
}

.btn-outline {
	border: none !important;
	background: none !important;
	padding: 0 !important;
}

.claveContainer {
    max-width: 140px;
    display: inline-block;
    position: relative;
}

.claveContainer .glyphicon {
	position: absolute;
    right: 0;
    padding: 10px;
    z-index: 999;
	cursor: pointer;
}