.panel {
    padding: 0;
    border-radius: 0;
}

.panel > .panel-heading {
    background: #008E69;
    color: #fff;
    border-radius: 0;
}

.panel > .panel-body {
    position: relative;
    min-height: 255px;
}

.panel > .panel-body .panel-loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(128, 128, 128, 0.3);
    color: #008E69;
    font-size: 25px;
    padding: 20px;
    z-index: 999;
}

.panel > .panel-body .panel-loading.hide {
    display: none;
}

.daterange-container input {
    width: 200px;
    text-align: center;
}