body {
	background:#000;
	color: white;
	font-size: 16px;
}
th {
	text-align: center;
	font-size: 20px;
}
table {
	background-color: transparent;
}
.btn-hoy {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.space-reserva-free {
	background: #23ab21;;
	border: 2px solid #ffffff;
	color: #23ab21;
}
.space-reserva-occupied {
	background: #d41414;
	border: 2px solid #ffffff;
	color: #d41414;
}
.space-reserva-close {
	background: #2d2d2d;
	border: 2px solid #ffffff;
	color: #2d2d2d;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
	border-color: #FFF;
}
.espacio-color-Tenis {
	color:yellow;
	font-size: 18px;
	font-weight: bold;
}
.espacio-color-Futbol {
	color:#00cc00;
	font-size: 18px;
	font-weight: bold;
}
.espacio-color-Paddle {
	color:#3ca2ff;
	font-size: 18px;
	font-weight: bold;
}

.container {
	width: 95%;
	padding-top: 25px
}
.referencia {
	float:right;
}
.verde {
	color: #23ab21;
	font-weight: bold;
	margin-right: 30px;
}
.rojo {
	color: #d41414;
	font-weight: bold
}